

@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Concessionaria.Models.Carro>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Fabricante.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Combustivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Proprietarios)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustivel)
            </td>
            <td>
                @Html.Raw(string.Join(", ", item.Proprietarios.Select(p => p.Nome)))
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CarroID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.CarroID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CarroID })
            </td>
        </tr>
    }

</table>

@if (Model.HasNextPage || Model.HasPreviousPage)
{
    <div style="text-align: center">
        @*@Html.PagedListPager(Model, (page) => Url.Action("Index", new { page = page }), PagedListRenderOptions.Classic)*@
        @if (Model.HasPreviousPage)
        {
        <a href="javascript:;" onclick="Pesquisar(@Model.PageNumber - 1)">
            <<
        </a>
        }
        @for(int i= 1; i < Model.PageCount ; i++)
        {
            <a href="javascript:;" onclick="Pesquisar(@i)" 
               @Html.Raw(Model.PageNumber == i ? "style=\"color:red\""  : "" )>
            @i</a>
         
        }
        
        @if (Model.HasNextPage)
        {
        <a href="javascript:;" onclick="Pesquisar(@Model.PageNumber + 1)">
            >>
        </a>
        }

    </div>
}